.contact {
    position: relative;
    color: $white;
    min-height: 40vh;
    width: 100vw;
    margin: 0 auto;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: -5;
        background: #464650;
    }

    &__wrapper {
        width: 80%;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        font: {
            size: 3rem;
            weight: 700;
        }
        display: inline-block;
        text-transform: uppercase;
    }

    &__info {
        font-size: 1.4rem;

        span {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:last-child {
                i {
                    color: $tertiary-color;
                }
            }
        }
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        width: 80%;

        &-left {
            display: flex;
            flex-direction: column;

            input {
                display: block;
                width: 100%;
                font-size: 1.2rem;
                border: none;
                border-radius: 2px;
                padding: .5rem 1rem;

                &:not(:last-child) {
                    margin-bottom: 1.2rem;
                }
            }
        }

        &-right {
            textarea {
                width: 100%;
                height: 100%;
                padding: 1rem;
            }
        }
    }

    footer {
        font-size: 1.1rem;
        color: lightgray;
    }
}