.newsletter {
    position: relative;
    width: 100vw;
    margin: 0 auto;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: -5;
        background: linear-gradient(rgba($primary-color, .92), rgba($primary-color, .92)), url("../images/bg_img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__wrapper {
        width: 80%;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: $white;

        h2 {
            text-transform: capitalize;
            letter-spacing: 1.5px;
            font: {
                size: 3rem;
                weight: 600;
            }
        }

        p {
            width: 60%;
            font-size: 1.4rem;
            text-align: center;
        }
    }

    &__cta {
        position: relative;
        width: 35%;

        input {
            width: 100%;
            line-height: 3.1;
            border-radius: 100px;
            border: none;
            padding-left: 1rem;
        }

        button {
            position: absolute;
            top: .4rem;
            right: .3rem;
            line-height: 2.1;
            border: none;
            border-radius: 100px;
            background: $primary-color;
            color: $white;
            padding: 0 1rem;
            font-size: 1.4rem;
            text-transform: capitalize;
        }
    }

    &__media {
        a {
            text-decoration: none;
            color: $white;
            font-size: 4rem;
        }
    }
}