
.u-padding-top_xsm {
    padding-top: 1rem;
}
.u-padding-top_sm {
    padding-top: 2rem;
}
.u-padding-top_md {
    padding-top: 4rem;
}

.u-padding-top_lg {
    padding-top: 8rem;
}

.u-padding-top_xlg {
    padding-top: 20rem;
}

.u-padding-bottom_xsm {
    padding-bottom: 1.2rem;
}
.u-padding-bottom_sm {
    padding-bottom: 2rem;
}

.u-padding-bottom_md {
    padding-bottom: 4rem;
}

.u-padding-bottom_lg {
    padding-bottom: 8rem;
}

.u-padding-bottom_xlg {
    padding-bottom: 20rem;
}