/*
 * COLORS
 */

 $primary-color: #1579b2;
 $secondary-color: #152534;
 $tertiary-color: #1b98e0;
 $quaternary-color: #f6f6f6;

 $white: #fafafa;
 $black: #0a0a0a;
 $heading-color: #302426;
 $subheading-color: #898989;
